.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15vmin 12vmin;
}

.box2 h1{
    font-size: 15vmin;
    letter-spacing: -0.5vmin;
}

.box2 button{
    background-color: black;
    color: white;
    font-size: 3vmin;
    padding: 1.5vmin 8vmin;
    border-radius: 10px;
}

.buttonbox{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 2vmin;
}

.buttonbox button:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
    transition-duration: 0.5s;
    cursor: pointer;
}
