.container{
    background-color: rgb(233, 217, 224);
    width: 50%;
    margin: 3vmin 0 10vmin 50vmin;
    padding: 1vmin;
}

.container h1{
    padding: 2vmin;
}

.container p{
    padding: 0 0 0 2vmin;
}

.container br{
    padding: 20vmin;
}